body{
    font-family: 'Raleway';
    margin: 0;
}
#top-bar{
    height: auto;
    overflow: auto;
    background-color: #1B242F;
    padding: 10px;
    box-sizing: border-box;
}
#t-logo{
    font-weight: bolder;
    font-style: italic;
    font-size: 20px;
    float: left;
    color: white;
    margin-left: 5%;
    opacity: 50%;

}
#t-navbar{
    float: right;
    margin-right: 30px;
}
#t-n-ul{
    margin: 0;
}
#t-n-ul> li{
    display: inline;
    color: white;
    margin-right: 34px;
    font-size: 18px;
    
}
#container{
    background-color: #252934;
    width: 100%;
    overflow: auto;
}
#c-card{
    width: 70%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #167388;
    overflow: auto;
    box-sizing: border-box;
}
#img-container{
    width: 50%;
    height: 100%;
    float: left;
    background-color: tomato;
    overflow: auto;
}
#description{
    width: 50%;
    height: 100%;
    float: right;
    margin: auto;
    
}
#d-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
    text-align: center;
    width: 300px;
    
}
#d-container> button{
    background-color: #5789D4;
    padding: 5px 10px 5px 10px;
    border-style: none;
    color: white;
}
#d-container> p{
    margin: 1px;
}
#d-container> p> b{
    font-size: 40px;
}